<launch>
        <arg name="ros_ip"     default="$(optenv ROS_IP 127.0.0.1)"/>
<!--        <arg name="fcu_url" default="/dev/ttyAMA0:230400" /> -->
        <arg name="fcu_url" default="udp://127.0.0.1:14551@" />
        <arg name="gcs_url" default="udp://$(arg ros_ip):14445@" />
        <arg name="tgt_system" default="112" />
        <arg name="tgt_component" default="1" />
        <arg name="log_output" default="screen" />
        <arg name="fcu_protocol" default="v2.0" />
        <arg name="respawn_mavros" default="true" />

        <include file="$(find mavros)/launch/node.launch">
                <arg name="pluginlists_yaml" value="$(find mavros)/launch/apm_pluginlists.yaml" />
                <arg name="config_yaml" value="$(find bouncing_mission)/launch/apm_config.yaml" />

                <arg name="fcu_url" value="$(arg fcu_url)" />
                <arg name="gcs_url" value="$(arg gcs_url)" />
                <arg name="tgt_system" value="$(arg tgt_system)" />
                <arg name="tgt_component" value="$(arg tgt_component)" />
                <arg name="log_output" value="$(arg log_output)" />
                <arg name="fcu_protocol" value="$(arg fcu_protocol)" />
                <arg name="respawn_mavros" value="$(arg respawn_mavros)" />
        </include>
    <node pkg="mavros" type="mavsys" name="mavsys_rate_all"
    args="rate --all 20" output="screen" />


    <node pkg="bouncing_mission" type="rangefinder_filter.py" name="rangefinder_filter" output="screen" respawn="true">
        <param name="input_topic" value="/mavros/distance_sensor/rangefinder_pub"/>
        <param name="output_topic" value="/mavros/distance_sensor/rangefinder_sub"/>
        <param name="debug_topic" value="/rangefinder/filtered"/>
        <param name="min_range" value="0.15"/>
        <param name="max_range" value="6.95"/>
    </node>
 <!--   <node pkg="bouncing_mission" type="visionnode.py" name="visionnode" required="true" />     -->
</launch>
